Repository ArsenEloglian/AdvanceProgrammingTechniques_2223, changes with the owners that CODEOWNERS names for each.
All owners: @ArsenEloglian, @MateuszSapala, @barbara-k97, @ElizaWielocha, @ZosiaSzyposzynska, @Wegrzynk, @markow1997, @baranskim, @Lun4t1c, @Admarx, @Flehmango, @Monikazx, @WashingtonD

CODEOWNERS:

#
# pattern:
#
#file/directory user
#

*           @ArsenEloglian
/MateuszSapala/		@MateuszSapala
/BarbaraKosior/   @barbara-k97
/ElizaWielocha/		@ElizaWielocha
/ZofiaSzyposzynska/		@ZosiaSzyposzynska
/KacperWegrzynowski/	@Wegrzynk
/MarcinKowalski/ @markow1997
/MichalBaranski/  @baranskim
/ArturGrabowski/	@Lun4t1c
/Adrian\ Kunikowski/  @Admarx
/KonradStepniak/  @Flehmango
/MonikaMostek/  @Monikazx
/Denys\ Shevchuk/ @WashingtonD

Added complete presentation
  KacperWegrzynowski/Testy_Jednostkowe.pptx
Owners: @Wegrzynk

Update AttendanceList 25.11.2022
  AttendanceList.txt
Owners: @ArsenEloglian

Create TwoSum.c
  ArturGrabowski/TwoSum.c
Owners: @Lun4t1c

Update AttendanceList 25.11.2022
  AttendanceList.txt
Owners: @ArsenEloglian

69. Sqrt(x) solution
  Denys Shevchuk/Sqrt(x)/sqrt(x).cpp
Owners: @WashingtonD

69. Plus One solution
  Denys Shevchuk/PlusOne/PlusOne.cpp
Owners: @WashingtonD

Update AttendanceList 25.11.2022
  AttendanceList.txt
Owners: @ArsenEloglian

9. Palindrome Number
  KacperWegrzynowski/PalindromeNumber.cs
Owners: @Wegrzynk

13. Roman_To_Integer
  ZofiaSzyposzynska/13. Roman_To_Integer.js
Owners: @ZosiaSzyposzynska

Create .gitignore
  ZofiaSzyposzynska/.gitignore.gitignore
Owners: @ZosiaSzyposzynska

Create .gitignore
  ZofiaSzyposzynska/.gitignore.gitignore
Owners: @ZosiaSzyposzynska

Create .gitignore
  ZofiaSzyposzynska/.gitignore
Owners: @ZosiaSzyposzynska
